#measure {
  position: absolute;
  left: -10000px;
  top: -100000px;
}

#image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

button,
#like,
#dislike {
  cursor: pointer;
}

.icon {
  height: 2rem;
}

#number-of-samples-container, #like-probability-container, #dislike-probability-container{
  display: none;
}
.tf-draw-area canvas{
  display: inline-block;
  max-width: 50%;
}
.vega-embed canvas{
  max-width: 100%
}