#measure {
  position: absolute;
  left: -10000px;
  top: -100000px;
}

#image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

button,
#like,
#dislike {
  cursor: pointer;
}

.icon {
  height: 2rem;
}

